<!-- Fixed navbar -->
<header class="site-header-main">
    <div class="navbar navbar-top" role="navigation">
        <div class="container">
            <div class="row">
                <div class="imd-contact-info-wrap pull-left col-xs-6 text-left">
                    <ul class="imd-contact-info">
                        <li><a href="tel:1800-123-456" class="top-contact-info"><i
                                class="fa fa-phone"></i>1800-123-456</a></li>
                        <li><a href="mailto:email@domain.com" class="top-contact-info"><i
                                class="fa fa-envelope"></i>&#101;&#109;ai&#108;&#64;&#100;o&#109;ai&#110;.c&#111;m</a>
                        </li>
                    </ul>
                </div>
                <div
                        class="pull-right col-xs-6 imd-top-social text-right">
                    <!-- button toggle top sozial -->
                    <ul class="top-social-link">
                        <li><a target="_blank" href="https://www.facebook.com" class="top-social-icon"><i
                                class="fa fa-facebook"></i></a></li>
                        <li><a target="_blank" href="https://www.twitter.com" class="top-social-icon"><i
                                class="fa fa-twitter"></i></a></li>
                        <li><a target="_blank" href="https://plus.google.com" class="top-social-icon"><i
                                class="fa fa-google-plus"></i></a></li>
                        <li><a target="_blank" href="https://www.linkedin.com" class="top-social-icon"><i
                                class="fa fa-linkedin"></i></a></li>
                        <li><a target="_blank" href="https://www.dribbble.com" class="top-social-icon"><i
                                class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
                <!-- .imd-top-social -->
            </div>
        </div>
    </div>
    <!-- blog-masthead -->
    <div class="headerbar" role="navigation">
        <div class="container">
            <div class="row ">
                <div class="header-main col-sm-12">
                    <div class="site-heading">
                        <h1 class="site-title">
                            <a class="site-logo-img" href="https://www.brainstormforce.com/demos/imedica/"
                               title="iMedica" rel="home"><img
                                    src="http://www.seomofo.com/downloads/new-google-logo-knockoff.png"
                                    alt="iMedica"/></a>
                        </h1>
                    </div>
                    <!-- top menu mobile -->
                    <div class="imd-mobile-menu-buttos col-sm-8 col-xs-8">
                        <!-- main menu toggle -->
                        <div class="imd-button-wrap">
                            <button class="menu-toggle">
                                <i class="fa fa-bars"></i>
                            </button>
                        </div>
                    </div>
                    <!-- mobile-top-menu -->
                    <div class="row mobile-top-menu">
                        <nav id="primary-navigation" class="site-navigation primary-navigation" role="navigation">

                            <ul id="menu-main-menu" class="nav-menu">
                                <li class="menu-item">
                                    <a href="/">Trang chủ</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Bác sĩ</a>
                                    <div class="mega-menu">
                                        <ul class="sub-menu">
                                            <li class="sub-menu-item">
                                                <a href="./cat.html">Bác sĩ 1</a>
                                            </li>
                                            <li class="sub-menu-item">
                                                <a href="./cat.html">Bác sĩ 2</a>
                                            </li>
                                            <li class="sub-menu-item">
                                                <a href="./cat.html">Bác sĩ 3</a>
                                            </li>
                                            <li class="sub-menu-item">
                                                <a href="./cat.html">Bác sĩ 4</a>
                                            </li>
                                            <li class="sub-menu-item">
                                                <a href="./cat.html">Bác sĩ 5</a>
                                            </li>
                                        </ul>
                                    </div>


                                </li>
                                <li class="menu-item">
                                    <a href="./contact.html">Liên hệ</a>
                                </li>
                            </ul>

                        </nav>
                    </div>
                </div>
            </div>
            <!-- row -->
        </div>
    </div>
</header>
